h1 {
  @include adaptiv-value("font-size", 40, 30, 1);
  line-height: 130%;
  margin-top: 20px;
}

h2 {
  @include adaptiv-value("font-size", 34, 24, 1);
  line-height: 130%;
}

.container {
  max-width: $maxWidthContainer + px;
	padding: 0px 15px;
	margin: 0 auto;
}